@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi there!</h1>
    <p>You're about to upload POS data for Quickbooks. <br/>To proceed, please login with your user name and password.</p>
</div>
<div class="login-wrapper">
    <div>
        <div>
            <label>Username</label>
        </div>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
    </div>
    <div>
        <div>
            <label>Password</label>
        </div>
        <input type="password" class="form-control" placeholder="" aria-describedby="basic-addon1">
    </div>
    <div>
        <div>
            <label>Site Branch</label>
        </div>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
    </div>
    <div>
        <hr />
        <button class="btn btn-block btn-dark">Sign In</button>
    </div>
    <div class="forgot-password-section">
        <a href="#" class="btn btn-block btn-default">Forgot password?</a>
    </div>
    <div class="login-notif">
        If you're having trouble signing in, please contact your System Administrator.
    </div>
</div>

